@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}

@layer utilities{
    .clip-path-custom{
        clip-path: polygon(0 0,100% 98%,75%,0 100%);
    }
}